<html>
	<head>
		<title>Jin's blog</title>
	</head>
	<body>
	<div>
		<h1><a href="">Django Girls Blog</a></h1>
	</div>
	<div>
		<p>published: 2017-03-15, 10:06</p>
		<h2><a href="">My first Post</a></h2>
		<p>Aenean eu leo quam. pellentesque oranare sem lacinia quam venenatis bestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	</div>
	<div>
		<p>published : 2017-03-15, 10:08</p>
		<h2><a href="">My second Post</a></h2>
		<p>Aenean eu leo quam. pellentesque oranare sem lacinia quam venenatis bestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	</div>
		<p>Hi there!</p>
		<p>It works!</p>
	</body>
</html>